<!DOCTYPE html>
<html>

    <% include ./partials/header %>

    <body>

        <% include ./partials/navigation %>

        <div class="container">

            <h2 class="text-center">Your Pins:</h2>
            <hr>
            <br />
            <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
                <% pins.forEach(function(item) { %>
                <div class="grid-item"><img src="<%= item.url %>" /></div>
                <% }); %>
            </div>
        </div>

        <% include ./partials/scripts %>

    </body>
</html>
