<!DOCTYPE html>
<html>

    <% include ./partials/header %>

    <body>

        <% include ./partials/navigation %>

        <div class="container">

            <h2 class="text-center">Recent Pins</h2>
            <hr>
            <br />

            <% include ./partials/grid %>

        </div>

        <% include ./partials/scripts %>

    </body>
</html>
